* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F5F7FA, #C3CFE2);
    color: #333;
    min-height: 100vh;
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    background-color: #FFFFFF;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
}

header a {
    color: #4A90E2;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.sidebar, .pinned {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.sidebar {
    flex: 1;
    max-width: 400px;
}

.pinned {
    flex: 2;
}

.topics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topic, .pinned-post {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 5px;
}


.post-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: justify;
    white-space: pre-wrap;
}

.section-title {
    color: #4A90E2;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pinned-post img {
    margin: 10px auto;
    width: 315px;
    height: auto;
    border-radius: 5px;
}

.add-topic-form, .add-post-form, .edit-topic-form, .edit-post-form {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-topic-form input[type="text"],
.edit-topic-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.edit-post-form textarea {
    width: 100%; /* Ширина на всю доступную область */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Граница */
    border-radius: 5px; /* Скругление углов */
    background-color: rgba(255, 255, 255, 0.9); /* Цвет фона */
    color: #333; /* Цвет текста */
    resize: vertical; /* Разрешить изменение размера только по вертикали */
    min-height: 65px; /* Минимальная высота */
    font-family: inherit; /* Наследование шрифта */
    font-size: inherit; /* Наследование размера шрифта */
    margin-bottom: 10px; /* Отступ снизу, как у input */
}

.add-topic-form button,
.edit-topic-form button,
.edit-post-form button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-topic-form button:hover,
.edit-topic-form button:hover,
.edit-post-form button:hover {
    background-color: #3A7BD5;
}

#addTopicButton {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#addTopicButton:hover {
    background-color: #3A7BD5;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topic-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    flex-grow: 1;
}

.actions-topic {
    display: flex;
    gap: 10px; /* Это свойство задает расстояние между кнопками */
    justify-content: flex-end;
    margin-left: 10px;
}

.actions-topic button {
    background-color: transparent;
    color: #4A90E2;
    border: none;
    padding: 0; /* Возможно, здесь padding: 0 */
    cursor: pointer;
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-top: 10px;
}

.actions button {
    background-color: transparent;
    color: #4A90E2;
    border: none;
    padding: 0; /* Возможно, здесь padding: 0 */
    cursor: pointer;
    font-size: 14px;
}

.confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.confirmation-popup .popup-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.confirmation-popup .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.confirmation-popup .popup-button {
    background-color: #dc3545; /* Красный цвет для кнопки "ОК" */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.confirmation-popup .popup-button:hover {
    background-color: #c82333; /* Темно-красный цвет при наведении */
}

.confirmation-popup .popup-button-cancel {
    background-color: #6c757d; /* Серый цвет для кнопки "ОТМЕНА" */
}

.confirmation-popup .popup-button-cancel:hover {
    background-color: #5a6268; /* Темно-серый цвет при наведении */
}

.post-created-at {
    font-size: 12px; /* Мелкий шрифт */
    color: #666; /* Серый цвет текста */
    margin-top: 5px; /* Отступ сверху */
    font-style: italic; /* Курсив */
    text-align: right; /* Выравнивание по правому краю */
}