body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4A90E2, #8E44AD);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
}

.container h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3A7BD5;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.login-link a {
    color: #FFA500;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.login-link a:hover {
    text-decoration: none;
}
