<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/home">Raccoon</a>
        </div>
        <nav>
            {{ current_user.email }}
            <a href="/logout">Выход</a>
        </nav>
    </header>
    <main>
        <div class="sidebar">
            <button id="addTopicButton">
                Новая тема
            </button>
            <div class="add-topic-form" id="addTopicForm">
                <input type="text" id="topicContent" placeholder="Введите название темы">
                <button id="saveTopicButton">Сохранить</button>
            </div>
            <div class="topics">
                {% for topic in topics %}
                <div class="topic">
    <div class="topic-header">
        <div class="topic-title">
            <a href="{{ url_for('theme', topic_id=topic.id) }}">{{ topic.name }}</a>
        </div>
        <div class="actions-topic">
            <button class="editTopicButton" data-topic-id="{{ topic.id }}" data-topic-name="{{ topic.name }}">
                <i class="fas fa-edit"></i>
                <span class="tooltiptext">Редактировать</span>
            </button>
            <button class="deleteTopicButton" data-topic-id="{{ topic.id }}">
                <i class="fas fa-trash"></i>
                <span class="tooltiptext">Удалить</span>
            </button>
        </div>
    </div>
    <div class="add-topic-form edit-topic-form" style="display: none;">
        <input type="text" class="editTopicContent" placeholder="Введите новое название темы">
        <button class="saveEditTopicButton">Сохранить</button>
    </div>
            </div>
                {% endfor %}
            </div>
        </div>
        <div class="pinned">
            <div class="section-title">Закрепленные записи</div>
            {% for post in pinned_posts %}
            <div class="pinned-post">
                <div class="post-title">{{ post.text|safe }}</div>
                <button class="toggleButton hidden">Показать больше</button>
                {% if post.photo %}
                <img src="{{ url_for('static', filename='uploads/' + post.photo) }}" alt="Post Image">
                {% endif %}
                <div class="actions">
                    <button class="editPostButton" data-post-id="{{ post.id }}" data-post-text="{{ post.text }}">
                        <i class="fas fa-edit"></i>
                        <span class="tooltiptext">Редактировать</span>
                    </button>
                    <button class="unpinPostButton" data-post-id="{{ post.id }}">
                        <i class="fas fa-times-circle"></i>
                        <span class="tooltiptext">Открепить</span>
                    </button>
                    <button class="deletePostButton" data-post-id="{{ post.id }}">
                        <i class="fas fa-trash"></i>
                        <span class="tooltiptext">Удалить</span>
                    </button>
                </div>
                <div class="post-created-at">{{ post.created_at.strftime('%d %B %Y, %H:%M') }}</div>
                <div class="add-post-form edit-post-form" style="display: none;">
                    <textarea class="editPostContent" placeholder="Введите новое название записи"></textarea>
                    <button class="saveEditPostButton">Сохранить</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

 <!-- Всплывающее окно подтверждения -->
    <div class="confirmation-popup" id="confirmationPopup">
        <div class="popup-message" id="confirmationMessage">Вы уверены, что хотите удалить эту запись?</div>
        <div class="popup-buttons">
            <button class="popup-button popup-button-ok" id="confirmationOk">ОК</button>
            <button class="popup-button popup-button-cancel" id="confirmationCancel">ОТМЕНА</button>
        </div>
    </div>

    <!-- Всплывающее окно -->
    <div class="linknotchanges" id="linknotchanges">
        <div class="linknotchanges-message">Ссылку нельзя изменить</div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
