<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <header>
        <div class="logo">Bookmark</div>
        <nav>
            {{ current_user.email }}
            <a href="/logout">Выход</a>
        </nav>
    </header>
    <main>
        <div class="sidebar">
            <button id="addTopicButton">Добавить новую тему</button>
            <div class="add-topic-form" id="addTopicForm">
            <input type="text" id="topicContent" placeholder="Введите название темы">
            <button id="saveTopicButton">Сохранить</button>
        </div>
            <div class="topics">
                {% for topic in topics %}
                <div class="topic">
                    <div class="topic-title">
                        <a href="{{ url_for('theme', topic_id=topic.id) }}">{{ topic.name }}</a>
                    </div>
                    <div class="actions">
                        <button>Редактировать</button>
                        <button>Удалить</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pinned">
            <div class="section-title">Закрепленные записи</div>
            <div class="pinned-post">
                <div class="post-title">Подрезать провод у светильника</div>
                <div class="actions">
                    <button>Редактировать</button>
                    <button>Открепить</button>
                    <button>Удалить</button>
                </div>
            </div>
            <div class="pinned-post">
                <div class="post-title">что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще что-то еще</div>
                <div class="actions">
                    <button>Редактировать</button>
                    <button>Открепить</button>
                    <button>Удалить</button>
                </div>
                </div>
                <div class="pinned-post">
                <div class="post-title">Подрезать провод у светильника</div>
                <div class="actions">
                    <button>Редактировать</button>
                    <button>Открепить</button>
                    <button>Удалить</button>
                </div>
            </div>
            </div>
        </div>
    </main>
<script>
    document.getElementById('addTopicButton').addEventListener('click', function() {
        document.getElementById('addTopicForm').style.display = 'block';
    });

    document.getElementById('saveTopicButton').addEventListener('click', function() {
        const topicContent = document.getElementById('topicContent').value;

        if (topicContent) {
            fetch('/save_topic', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ topicName: topicContent })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const topicDiv = document.createElement('div');
                    topicDiv.className = 'topic';
                    topicDiv.innerHTML = `
                        <div class="topic-title">
                            <a href="/theme/${data.topicId}">${data.topicName}</a>
                        </div>
                        <div class="actions">
                            <button>Редактировать</button>
                            <button>Удалить</button>
                        </div>
                    `;

                    document.querySelector('.topics').appendChild(topicDiv);
                    document.getElementById('addTopicForm').style.display = 'none';
                    document.getElementById('topicContent').value = '';
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
</script>
</body>
</html>
