<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ topic.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
    <header>
        <div class="logo"><a href="/home">Вернуться на главную</a></div>
        <nav>
            {{ current_user.email }}
            <a href="/logout">Выход</a>
        </nav>
    </header>
    <main>
        <div class="theme-title">{{ topic.name }}</div>
        <button class="add-post-button" id="addPostButton">
            Новая заметка
        </button>
        <div class="add-post-form" id="addPostForm" style="display: none;" data-topic-id="{{ topic.id }}">
            <div class="input-group">
                <textarea id="postContent" placeholder="Введите запись"></textarea>
                <label for="postPhoto" class="file-upload-wrapper">
                    <span class="upload-icon">📁</span>
                    <input type="file" id="postPhoto" accept="image/*">
                </label>
            </div>
            <button id="savePostButton">Сохранить</button>
        </div>
        <div class="posts" id="posts">
            {% for post in posts %}
            <div class="post" data-post-id="{{ post.id }}">
                <div class="post-title">{{ post.text|safe }}</div>
                {% if post.photo %}
                <img src="{{ url_for('static', filename='uploads/' + post.photo) }}" alt="Post Image" class="post-image">
                {% endif %}
                <div class="actions">
                    <button class="editPostButton" data-post-id="{{ post.id }}" data-post-text="{{ post.text }}">
                        <i class="fas fa-edit"></i></button>
                    <button class="pinPostButton"><i class="fas fa-thumbtack"></i> </button>
                    <button class="deletePostButton"><i class="fas fa-trash"></i></button>
                </div>
                <div class="post-created-at">{{ post.created_at.strftime('%d %B %Y, %H:%M') }}</div>
                <div class="edit-post-form" style="display: none;">
                    <div class="input-group">
                        <textarea class="editPostContent" placeholder="Введите новое название записи"></textarea>
                        <label for="editPostPhoto_{{ post.id }}" class="file-upload-wrapper">
                            <span class="upload-icon">📁</span>
                            <input type="file" id="editPostPhoto_{{ post.id }}" class="editPostPhoto" accept="image/*">
                        </label>
                    </div>
                    <button class="saveEditPostButton">Сохранить</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <!-- Всплывающее окно подтверждения -->
    <div class="confirmation-popup" id="confirmationPopup">
        <div class="popup-message">Вы уверены, что хотите удалить эту запись?</div>
        <div class="popup-buttons">
            <button class="popup-button popup-button-ok" id="confirmationOk">ОК</button>
            <button class="popup-button popup-button-cancel" id="confirmationCancel">ОТМЕНА</button>
        </div>
    </div>

     <!-- Всплывающее окно -->
    <div class="popup" id="popup">
        <div class="popup-message">Закреплено</div>
    </div>

    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
